@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600,700");
body {
  font-family: Nunito;
  background: #298FFF;
  color: #FFFFFF;
  padding: 0 20px; }

.hero-sec h1 {
  font-family: Nunito;
  font-size: 9rem;
  font-weight: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .hero-sec h1:hover {
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
    .hero-sec h1:hover .boxed {
      background: #298FFF;
      color: #FFFFFF; }
    .hero-sec h1:hover .unboxed {
      background: #FFFFFF;
      color: #298FFF; }
  @media screen and (max-width: 767px) {
    .hero-sec h1 {
      font-size: 5rem; } }
  .hero-sec h1 .boxed {
    background: #FFFFFF;
    color: #298FFF;
    border-radius: 100px 0 0 100px;
    border: 8px solid #FFFFFF;
    padding: 12px 14px 6px 30px;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
    @media screen and (max-width: 767px) {
      .hero-sec h1 .boxed {
        padding: 6px 0px 3px 15px; } }
  .hero-sec h1 .unboxed {
    border-radius: 0 100px 100px 0;
    border: 8px solid #FFFFFF;
    padding: 12px 34px 6px 20px;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
    @media screen and (max-width: 767px) {
      .hero-sec h1 .unboxed {
        padding: 6px 20px 3px 15px; } }

.hero-sec .lead {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 30px; }
  @media screen and (max-width: 767px) {
    .hero-sec .lead {
      font-size: 2.5rem;
      margin-top: 20px; } }

.m--0 {
  margin: 0px; }

.m--5 {
  margin: 5px; }

.m--10 {
  margin: 10px; }

.m--15 {
  margin: 15px; }

.m--20 {
  margin: 20px; }

.m--25 {
  margin: 25px; }

.m--30 {
  margin: 30px; }

.m--35 {
  margin: 35px; }

.m--40 {
  margin: 40px; }

.m--45 {
  margin: 45px; }

.m--50 {
  margin: 50px; }

.m--55 {
  margin: 55px; }

.m--60 {
  margin: 60px; }

.m--65 {
  margin: 65px; }

.m--70 {
  margin: 70px; }

.m--75 {
  margin: 75px; }

.m--80 {
  margin: 80px; }

.m--85 {
  margin: 85px; }

.m--90 {
  margin: 90px; }

.m--95 {
  margin: 95px; }

.m--100 {
  margin: 100px; }

.mt--0 {
  margin-top: 0px; }

.mt--5 {
  margin-top: 5px; }

.mt--10 {
  margin-top: 10px; }

.mt--15 {
  margin-top: 15px; }

.mt--20 {
  margin-top: 20px; }

.mt--25 {
  margin-top: 25px; }

.mt--30 {
  margin-top: 30px; }

.mt--35 {
  margin-top: 35px; }

.mt--40 {
  margin-top: 40px; }

.mt--45 {
  margin-top: 45px; }

.mt--50 {
  margin-top: 50px; }

.mt--55 {
  margin-top: 55px; }

.mt--60 {
  margin-top: 60px; }

.mt--65 {
  margin-top: 65px; }

.mt--70 {
  margin-top: 70px; }

.mt--75 {
  margin-top: 75px; }

.mt--80 {
  margin-top: 80px; }

.mt--85 {
  margin-top: 85px; }

.mt--90 {
  margin-top: 90px; }

.mt--95 {
  margin-top: 95px; }

.mt--100 {
  margin-top: 100px; }

.mr--0 {
  margin-right: 0px; }

.mr--5 {
  margin-right: 5px; }

.mr--10 {
  margin-right: 10px; }

.mr--15 {
  margin-right: 15px; }

.mr--20 {
  margin-right: 20px; }

.mr--25 {
  margin-right: 25px; }

.mr--30 {
  margin-right: 30px; }

.mr--35 {
  margin-right: 35px; }

.mr--40 {
  margin-right: 40px; }

.mr--45 {
  margin-right: 45px; }

.mr--50 {
  margin-right: 50px; }

.mr--55 {
  margin-right: 55px; }

.mr--60 {
  margin-right: 60px; }

.mr--65 {
  margin-right: 65px; }

.mr--70 {
  margin-right: 70px; }

.mr--75 {
  margin-right: 75px; }

.mr--80 {
  margin-right: 80px; }

.mr--85 {
  margin-right: 85px; }

.mr--90 {
  margin-right: 90px; }

.mr--95 {
  margin-right: 95px; }

.mr--100 {
  margin-right: 100px; }

.mb--0 {
  margin-bottom: 0px; }

.mb--5 {
  margin-bottom: 5px; }

.mb--10 {
  margin-bottom: 10px; }

.mb--15 {
  margin-bottom: 15px; }

.mb--20 {
  margin-bottom: 20px; }

.mb--25 {
  margin-bottom: 25px; }

.mb--30 {
  margin-bottom: 30px; }

.mb--35 {
  margin-bottom: 35px; }

.mb--40 {
  margin-bottom: 40px; }

.mb--45 {
  margin-bottom: 45px; }

.mb--50 {
  margin-bottom: 50px; }

.mb--55 {
  margin-bottom: 55px; }

.mb--60 {
  margin-bottom: 60px; }

.mb--65 {
  margin-bottom: 65px; }

.mb--70 {
  margin-bottom: 70px; }

.mb--75 {
  margin-bottom: 75px; }

.mb--80 {
  margin-bottom: 80px; }

.mb--85 {
  margin-bottom: 85px; }

.mb--90 {
  margin-bottom: 90px; }

.mb--95 {
  margin-bottom: 95px; }

.mb--100 {
  margin-bottom: 100px; }

.ml--0 {
  margin-left: 0px; }

.ml--5 {
  margin-left: 5px; }

.ml--10 {
  margin-left: 10px; }

.ml--15 {
  margin-left: 15px; }

.ml--20 {
  margin-left: 20px; }

.ml--25 {
  margin-left: 25px; }

.ml--30 {
  margin-left: 30px; }

.ml--35 {
  margin-left: 35px; }

.ml--40 {
  margin-left: 40px; }

.ml--45 {
  margin-left: 45px; }

.ml--50 {
  margin-left: 50px; }

.ml--55 {
  margin-left: 55px; }

.ml--60 {
  margin-left: 60px; }

.ml--65 {
  margin-left: 65px; }

.ml--70 {
  margin-left: 70px; }

.ml--75 {
  margin-left: 75px; }

.ml--80 {
  margin-left: 80px; }

.ml--85 {
  margin-left: 85px; }

.ml--90 {
  margin-left: 90px; }

.ml--95 {
  margin-left: 95px; }

.ml--100 {
  margin-left: 100px; }

.p--0 {
  padding: 0px; }

.p--5 {
  padding: 5px; }

.p--10 {
  padding: 10px; }

.p--15 {
  padding: 15px; }

.p--20 {
  padding: 20px; }

.p--25 {
  padding: 25px; }

.p--30 {
  padding: 30px; }

.p--35 {
  padding: 35px; }

.p--40 {
  padding: 40px; }

.p--45 {
  padding: 45px; }

.p--50 {
  padding: 50px; }

.p--55 {
  padding: 55px; }

.p--60 {
  padding: 60px; }

.p--65 {
  padding: 65px; }

.p--70 {
  padding: 70px; }

.p--75 {
  padding: 75px; }

.p--80 {
  padding: 80px; }

.p--85 {
  padding: 85px; }

.p--90 {
  padding: 90px; }

.p--95 {
  padding: 95px; }

.p--100 {
  padding: 100px; }

.pt--0 {
  padding-top: 0px; }

.pt--5 {
  padding-top: 5px; }

.pt--10 {
  padding-top: 10px; }

.pt--15 {
  padding-top: 15px; }

.pt--20 {
  padding-top: 20px; }

.pt--25 {
  padding-top: 25px; }

.pt--30 {
  padding-top: 30px; }

.pt--35 {
  padding-top: 35px; }

.pt--40 {
  padding-top: 40px; }

.pt--45 {
  padding-top: 45px; }

.pt--50 {
  padding-top: 50px; }

.pt--55 {
  padding-top: 55px; }

.pt--60 {
  padding-top: 60px; }

.pt--65 {
  padding-top: 65px; }

.pt--70 {
  padding-top: 70px; }

.pt--75 {
  padding-top: 75px; }

.pt--80 {
  padding-top: 80px; }

.pt--85 {
  padding-top: 85px; }

.pt--90 {
  padding-top: 90px; }

.pt--95 {
  padding-top: 95px; }

.pt--100 {
  padding-top: 100px; }

.pr--0 {
  padding-right: 0px; }

.pr--5 {
  padding-right: 5px; }

.pr--10 {
  padding-right: 10px; }

.pr--15 {
  padding-right: 15px; }

.pr--20 {
  padding-right: 20px; }

.pr--25 {
  padding-right: 25px; }

.pr--30 {
  padding-right: 30px; }

.pr--35 {
  padding-right: 35px; }

.pr--40 {
  padding-right: 40px; }

.pr--45 {
  padding-right: 45px; }

.pr--50 {
  padding-right: 50px; }

.pr--55 {
  padding-right: 55px; }

.pr--60 {
  padding-right: 60px; }

.pr--65 {
  padding-right: 65px; }

.pr--70 {
  padding-right: 70px; }

.pr--75 {
  padding-right: 75px; }

.pr--80 {
  padding-right: 80px; }

.pr--85 {
  padding-right: 85px; }

.pr--90 {
  padding-right: 90px; }

.pr--95 {
  padding-right: 95px; }

.pr--100 {
  padding-right: 100px; }

.pb--0 {
  padding-bottom: 0px; }

.pb--5 {
  padding-bottom: 5px; }

.pb--10 {
  padding-bottom: 10px; }

.pb--15 {
  padding-bottom: 15px; }

.pb--20 {
  padding-bottom: 20px; }

.pb--25 {
  padding-bottom: 25px; }

.pb--30 {
  padding-bottom: 30px; }

.pb--35 {
  padding-bottom: 35px; }

.pb--40 {
  padding-bottom: 40px; }

.pb--45 {
  padding-bottom: 45px; }

.pb--50 {
  padding-bottom: 50px; }

.pb--55 {
  padding-bottom: 55px; }

.pb--60 {
  padding-bottom: 60px; }

.pb--65 {
  padding-bottom: 65px; }

.pb--70 {
  padding-bottom: 70px; }

.pb--75 {
  padding-bottom: 75px; }

.pb--80 {
  padding-bottom: 80px; }

.pb--85 {
  padding-bottom: 85px; }

.pb--90 {
  padding-bottom: 90px; }

.pb--95 {
  padding-bottom: 95px; }

.pb--100 {
  padding-bottom: 100px; }

.pl--0 {
  padding-left: 0px; }

.pl--5 {
  padding-left: 5px; }

.pl--10 {
  padding-left: 10px; }

.pl--15 {
  padding-left: 15px; }

.pl--20 {
  padding-left: 20px; }

.pl--25 {
  padding-left: 25px; }

.pl--30 {
  padding-left: 30px; }

.pl--35 {
  padding-left: 35px; }

.pl--40 {
  padding-left: 40px; }

.pl--45 {
  padding-left: 45px; }

.pl--50 {
  padding-left: 50px; }

.pl--55 {
  padding-left: 55px; }

.pl--60 {
  padding-left: 60px; }

.pl--65 {
  padding-left: 65px; }

.pl--70 {
  padding-left: 70px; }

.pl--75 {
  padding-left: 75px; }

.pl--80 {
  padding-left: 80px; }

.pl--85 {
  padding-left: 85px; }

.pl--90 {
  padding-left: 90px; }

.pl--95 {
  padding-left: 95px; }

.pl--100 {
  padding-left: 100px; }

.fx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.fxin {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.fx--w-nw {
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap; }

.fx--w-w {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.fx--w-wr {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.fx--w-ih {
  -webkit-flex-wrap: inherit;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit; }

.fx--w-in {
  -webkit-flex-wrap: initial;
  -ms-flex-wrap: initial;
  flex-wrap: initial; }

.fx--d-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.fx--d-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.fx--d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.fx--d-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.fx--d-ih {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: inherit;
  -ms-flex-direction: inherit;
  flex-direction: inherit; }

.fx--d-in {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial; }

.fx--jc-fs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.fx--jc-fe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.fx--jc-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fx--jc-sa {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.fx--jc-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fx--jc-ih {
  -webkit-box-pack: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit; }

.fx--jc-in {
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial; }

.fx--ai-fs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.fx--ai-fe {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.fx--ai-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.fx--ai-b {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.fx--ai-s {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.fx--ai-ih {
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit; }

.fx--ai-in {
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial; }

.table--tb {
  display: table; }
  .table--tb.fw {
    width: 100%; }

.table--tbin {
  display: inline-table; }
  .table--tbin.fw {
    width: 100%; }

.table--tc {
  display: table-cell; }
  .table--tc.fw {
    width: 100%; }

.table--tcap {
  display: table-caption; }
  .table--tcap.fw {
    width: 100%; }

.table--tr {
  display: table-row; }
  .table--tr.fw {
    width: 100%; }

.table--trgr {
  display: table-row-group; }
  .table--trgr.fw {
    width: 100%; }

.table--tcol {
  display: table-column; }
  .table--tcol.fw {
    width: 100%; }

.table--tcolgr {
  display: table-column-group; }
  .table--tcolgr.fw {
    width: 100%; }

.table--thgr {
  display: table-header-group; }
  .table--thgr.fw {
    width: 100%; }

.table--tfgr {
  display: table-footer-group; }
  .table--tfgr.fw {
    width: 100%; }

.table--ih {
  display: inherit; }
  .table--ih.fw {
    width: 100%; }

.table--in {
  display: initial; }
  .table--in.fw {
    width: 100%; }

/* Table */
.sec--table {
  display: table; }
  .sec--table.fw {
    width: 100%; }

/* Table Row */
.sec--table-row {
  display: table-row; }

/* Table Cell */
.sec--table-cell {
  display: table-cell; }

.valign--bl {
  vertical-align: baseline; }

.valign--b {
  vertical-align: bottom; }

.valign--m {
  vertical-align: middle; }

.valign--sub {
  vertical-align: sub; }

.valign--sup {
  vertical-align: super; }

.valign--tb {
  vertical-align: text-bottom; }

.valign--tt {
  vertical-align: text-top; }

.valign--t {
  vertical-align: top; }

.valign--ih {
  vertical-align: inherit; }

.valign--in {
  vertical-align: initial; }

.width--full {
  width: 100%; }

.width--half {
  width: 50%; }

.width--auto {
  width: auto; }

.width--full-vh {
  width: 100vh; }

.width--half-vh {
  width: 50vh; }

.height--full {
  height: 100%; }

.height--half {
  height: 50%; }

.height--auto {
  height: auto; }

.height--full-vh {
  height: 100vh; }

.height--half-vh {
  height: 50vh; }

.social--color-facebook {
  color: #3b5999; }

.social--color-messenger {
  color: #0084ff; }

.social--color-twitter {
  color: #55acee; }

.social--color-linkedin {
  color: #0077b5; }

.social--color-skype {
  color: #00aff0; }

.social--color-dropbox {
  color: #007ee5; }

.social--color-wordpress {
  color: #21759b; }

.social--color-vimeo {
  color: #1ab7ea; }

.social--color-slideshare {
  color: #0077b5; }

.social--color-vk {
  color: #4c75a3; }

.social--color-tumblr {
  color: #34465d; }

.social--color-yahoo {
  color: #410093; }

.social--color-gplus {
  color: #db4437; }

.social--color-pinterest {
  color: #bd081c; }

.social--color-youtube {
  color: #cd201f; }

.social--color-stumbleupon {
  color: #eb4924; }

.social--color-reddit {
  color: #ff5700; }

.social--color-quora {
  color: #b92b27; }

.social--color-yelp {
  color: #af0606; }

.social--color-weibo {
  color: #df2029; }

.social--color-producthunt {
  color: #da552f; }

.social--color-hackernews {
  color: #ff6600; }

.social--color-soundcloud {
  color: #ff3300; }

.social--color-blogger {
  color: #f57d00; }

.social--color-whatsapp {
  color: #4dc247; }

.social--color-wechat {
  color: #09b83e; }

.social--color-line {
  color: #00c300; }

.social--color-medium {
  color: #02b875; }

.social--color-vine {
  color: #00b489; }

.social--color-slack {
  color: #3aaf85; }

.social--color-instagram {
  color: #c21473; }

.social--color-dribbble {
  color: #ea4c89; }

.social--color-flickr {
  color: #ff0084; }

.social--color-foursquare {
  color: #f94877; }

.social--color-behance {
  color: #1769ff; }

.social--color-github {
  color: #24292e; }

.social--color-spotify {
  color: #00e461; }

.social--color-snapchat {
  color: #fffc00; }

.social--bg-facebook {
  background-color: #3b5999; }

.social--bg-messenger {
  background-color: #0084ff; }

.social--bg-twitter {
  background-color: #55acee; }

.social--bg-linkedin {
  background-color: #0077b5; }

.social--bg-skype {
  background-color: #00aff0; }

.social--bg-dropbox {
  background-color: #007ee5; }

.social--bg-wordpress {
  background-color: #21759b; }

.social--bg-vimeo {
  background-color: #1ab7ea; }

.social--bg-slideshare {
  background-color: #0077b5; }

.social--bg-vk {
  background-color: #4c75a3; }

.social--bg-tumblr {
  background-color: #34465d; }

.social--bg-yahoo {
  background-color: #410093; }

.social--bg-gplus {
  background-color: #db4437; }

.social--bg-pinterest {
  background-color: #bd081c; }

.social--bg-youtube {
  background-color: #cd201f; }

.social--bg-stumbleupon {
  background-color: #eb4924; }

.social--bg-reddit {
  background-color: #ff5700; }

.social--bg-quora {
  background-color: #b92b27; }

.social--bg-yelp {
  background-color: #af0606; }

.social--bg-weibo {
  background-color: #df2029; }

.social--bg-producthunt {
  background-color: #da552f; }

.social--bg-hackernews {
  background-color: #ff6600; }

.social--bg-soundcloud {
  background-color: #ff3300; }

.social--bg-blogger {
  background-color: #f57d00; }

.social--bg-whatsapp {
  background-color: #4dc247; }

.social--bg-wechat {
  background-color: #09b83e; }

.social--bg-line {
  background-color: #00c300; }

.social--bg-medium {
  background-color: #02b875; }

.social--bg-vine {
  background-color: #00b489; }

.social--bg-slack {
  background-color: #3aaf85; }

.social--bg-instagram {
  background-color: #c21473; }

.social--bg-dribbble {
  background-color: #ea4c89; }

.social--bg-flickr {
  background-color: #ff0084; }

.social--bg-foursquare {
  background-color: #f94877; }

.social--bg-behance {
  background-color: #1769ff; }

.social--bg-github {
  background-color: #24292e; }

.social--bg-spotify {
  background-color: #00e461; }

.social--bg-snapchat {
  background-color: #fffc00; }

.social--btn-facebook {
  background-color: #3b5999;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-facebook:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-facebook:focus, .social--btn-facebook:active {
    background-color: #3b5999;
    color: #ffffff; }

.social--btn-messenger {
  background-color: #0084ff;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-messenger:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-messenger:focus, .social--btn-messenger:active {
    background-color: #0084ff;
    color: #ffffff; }

.social--btn-twitter {
  background-color: #55acee;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-twitter:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-twitter:focus, .social--btn-twitter:active {
    background-color: #55acee;
    color: #ffffff; }

.social--btn-linkedin {
  background-color: #0077b5;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-linkedin:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-linkedin:focus, .social--btn-linkedin:active {
    background-color: #0077b5;
    color: #ffffff; }

.social--btn-skype {
  background-color: #00aff0;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-skype:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-skype:focus, .social--btn-skype:active {
    background-color: #00aff0;
    color: #ffffff; }

.social--btn-dropbox {
  background-color: #007ee5;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-dropbox:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-dropbox:focus, .social--btn-dropbox:active {
    background-color: #007ee5;
    color: #ffffff; }

.social--btn-wordpress {
  background-color: #21759b;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-wordpress:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-wordpress:focus, .social--btn-wordpress:active {
    background-color: #21759b;
    color: #ffffff; }

.social--btn-vimeo {
  background-color: #1ab7ea;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-vimeo:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-vimeo:focus, .social--btn-vimeo:active {
    background-color: #1ab7ea;
    color: #ffffff; }

.social--btn-slideshare {
  background-color: #0077b5;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-slideshare:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-slideshare:focus, .social--btn-slideshare:active {
    background-color: #0077b5;
    color: #ffffff; }

.social--btn-vk {
  background-color: #4c75a3;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-vk:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-vk:focus, .social--btn-vk:active {
    background-color: #4c75a3;
    color: #ffffff; }

.social--btn-tumblr {
  background-color: #34465d;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-tumblr:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-tumblr:focus, .social--btn-tumblr:active {
    background-color: #34465d;
    color: #ffffff; }

.social--btn-yahoo {
  background-color: #410093;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-yahoo:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-yahoo:focus, .social--btn-yahoo:active {
    background-color: #410093;
    color: #ffffff; }

.social--btn-gplus {
  background-color: #db4437;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-gplus:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-gplus:focus, .social--btn-gplus:active {
    background-color: #db4437;
    color: #ffffff; }

.social--btn-pinterest {
  background-color: #bd081c;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-pinterest:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-pinterest:focus, .social--btn-pinterest:active {
    background-color: #bd081c;
    color: #ffffff; }

.social--btn-youtube {
  background-color: #cd201f;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-youtube:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-youtube:focus, .social--btn-youtube:active {
    background-color: #cd201f;
    color: #ffffff; }

.social--btn-stumbleupon {
  background-color: #eb4924;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-stumbleupon:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-stumbleupon:focus, .social--btn-stumbleupon:active {
    background-color: #eb4924;
    color: #ffffff; }

.social--btn-reddit {
  background-color: #ff5700;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-reddit:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-reddit:focus, .social--btn-reddit:active {
    background-color: #ff5700;
    color: #ffffff; }

.social--btn-quora {
  background-color: #b92b27;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-quora:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-quora:focus, .social--btn-quora:active {
    background-color: #b92b27;
    color: #ffffff; }

.social--btn-yelp {
  background-color: #af0606;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-yelp:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-yelp:focus, .social--btn-yelp:active {
    background-color: #af0606;
    color: #ffffff; }

.social--btn-weibo {
  background-color: #df2029;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-weibo:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-weibo:focus, .social--btn-weibo:active {
    background-color: #df2029;
    color: #ffffff; }

.social--btn-producthunt {
  background-color: #da552f;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-producthunt:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-producthunt:focus, .social--btn-producthunt:active {
    background-color: #da552f;
    color: #ffffff; }

.social--btn-hackernews {
  background-color: #ff6600;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-hackernews:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-hackernews:focus, .social--btn-hackernews:active {
    background-color: #ff6600;
    color: #ffffff; }

.social--btn-soundcloud {
  background-color: #ff3300;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-soundcloud:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-soundcloud:focus, .social--btn-soundcloud:active {
    background-color: #ff3300;
    color: #ffffff; }

.social--btn-blogger {
  background-color: #f57d00;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-blogger:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-blogger:focus, .social--btn-blogger:active {
    background-color: #f57d00;
    color: #ffffff; }

.social--btn-whatsapp {
  background-color: #4dc247;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-whatsapp:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-whatsapp:focus, .social--btn-whatsapp:active {
    background-color: #4dc247;
    color: #ffffff; }

.social--btn-wechat {
  background-color: #09b83e;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-wechat:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-wechat:focus, .social--btn-wechat:active {
    background-color: #09b83e;
    color: #ffffff; }

.social--btn-line {
  background-color: #00c300;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-line:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-line:focus, .social--btn-line:active {
    background-color: #00c300;
    color: #ffffff; }

.social--btn-medium {
  background-color: #02b875;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-medium:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-medium:focus, .social--btn-medium:active {
    background-color: #02b875;
    color: #ffffff; }

.social--btn-vine {
  background-color: #00b489;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-vine:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-vine:focus, .social--btn-vine:active {
    background-color: #00b489;
    color: #ffffff; }

.social--btn-slack {
  background-color: #3aaf85;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-slack:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-slack:focus, .social--btn-slack:active {
    background-color: #3aaf85;
    color: #ffffff; }

.social--btn-instagram {
  background-color: #c21473;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-instagram:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-instagram:focus, .social--btn-instagram:active {
    background-color: #c21473;
    color: #ffffff; }

.social--btn-dribbble {
  background-color: #ea4c89;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-dribbble:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-dribbble:focus, .social--btn-dribbble:active {
    background-color: #ea4c89;
    color: #ffffff; }

.social--btn-flickr {
  background-color: #ff0084;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-flickr:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-flickr:focus, .social--btn-flickr:active {
    background-color: #ff0084;
    color: #ffffff; }

.social--btn-foursquare {
  background-color: #f94877;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-foursquare:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-foursquare:focus, .social--btn-foursquare:active {
    background-color: #f94877;
    color: #ffffff; }

.social--btn-behance {
  background-color: #1769ff;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-behance:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-behance:focus, .social--btn-behance:active {
    background-color: #1769ff;
    color: #ffffff; }

.social--btn-github {
  background-color: #24292e;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-github:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-github:focus, .social--btn-github:active {
    background-color: #24292e;
    color: #ffffff; }

.social--btn-spotify {
  background-color: #00e461;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-spotify:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-spotify:focus, .social--btn-spotify:active {
    background-color: #00e461;
    color: #ffffff; }

.social--btn-snapchat {
  background-color: #fffc00;
  color: #ffffff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .social--btn-snapchat:hover {
    opacity: 0.8;
    color: #ffffff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .social--btn-snapchat:focus, .social--btn-snapchat:active {
    background-color: #fffc00;
    color: #ffffff; }

.text-underline {
  text-decoration: underline; }

.cursor_pointer {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */