// ######################################## //
// ## INTERNAL.SCSS ## //
// ######################################## //

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600,700');

body {
	font-family: Nunito;
	background: $theme-primary;
	color: $white;
	padding: 0 20px;
}

.hero-sec {
	padding: 6rem 0;

	h1 {
		font-family: Nunito;
		font-size: 6rem;
		font-weight: 900;
		display: inline-flex;
		justify-content: center;
		cursor: default;
		transition: all .15s ease-in-out;

		&:hover {
			transition: all .15s ease-in-out;
			
			.boxed {
				background: $theme-primary;
				color: $white;
			}

			.unboxed {
				background: $white;
				color: $theme-primary;
			}
		}

		// On Mobiles
		@media screen and (max-width: 767px) {
			font-size: 5rem;
		}

		.boxed {
			background: $white;
			color: $theme-primary;
			border-radius: 100px 0 0 100px;
			border: 8px solid $white;
			padding: 12px 14px 6px 30px;
			transition: all .15s ease-in-out;

			// On Mobiles
			@media screen and (max-width: 767px) {
				padding: 6px 0px 3px 15px;
			}
		}

		.unboxed {
			border-radius: 0 100px 100px 0;
			border: 8px solid $white;
			padding: 12px 34px 6px 20px;
			transition: all .15s ease-in-out;

			// On Mobiles
			@media screen and (max-width: 767px) {
				padding: 6px 20px 3px 15px;
			}
		}
	}

	.lead {
		font-size: 2rem;
		font-weight: 300;
		margin-top: 1rem;

		// On Mobiles
		@media screen and (max-width: 767px) {
			font-size: 2.5rem;
			margin-top: 20px;
		}
	}

	.btn {

		&:hover { color: #ffffff; }
	}
}


// Description Section
.desc--sec {
	font-family: 'Zilla Slab';
	margin-bottom: 8rem;

	// Contaier
	.container {
		width: 100%;
		max-width: 900px;
	}

	// Description Section Header
	.desc--sec-header {
		margin-bottom: 20px;

		// Title
		.desc--sec-title {
			font-size: 34px;
			margin-bottom: 0;
		}

		// Subtitle
		.desc--sec-subtitle {
			font-size: 20px;
			font-weight: 300;
			margin: 5px 0 0 0;
		}
	}

	// Panel
	.panel {
		background: #fff;
		border-radius: 6px;
		padding: 20px 30px;
		color: #767676;
		box-shadow: 0 1px 2px rgba(#000, 0.1);

		// Example Panel
		&.example-panel {
			padding: 20px;
		}

		// Panel Heading
		.panel-heading {
			padding: 0;
			margin-bottom: 15px;
		}

		// Panel Title
		.panel-title {
			font-size: 30px;
			font-weight: 600;
		}

		// Panel In-Between Title
		.panel-ib-title {
			font-size: 22px;
			margin-bottom: 1rem;
		}

		// Panel Body
		.panel-body {
			padding: 0;
		}
	}

	// Heading
	p {
		font-size: 20px;
	}
}


// Code
code {
	font-size: 75%;
	background-color: $theme-primary-bg;
	color: $theme-primary;

	// Highlight
	&.highlight {
		background-color: $theme-primary;
		color: $theme-primary-bg;
	}
}







// Example Section Holder
.example--sec-holder {
	margin-bottom: 5rem;

	&:last-child {
		margin-bottom: 0;
	}

	// Example Section Header
	.example--sec-header {}

	// Example Section Body
	.example--sec-body {}

	// Example Section Title
	.example--sec-title {
		font-size: 28px;
		font-weight: 600;
		margin-bottom: .8rem;
	}

	// Example Box
	.example-box {

		// Content
		.content {
			margin: 0 0 .5rem;
			padding-bottom: .5rem;

			// Content Row
			.content-row {}

			// Content Column
			.content-col {}
		}

		// Box Outer
		.box-outer {

			// With Border
			&.border {
				border: 1px solid $gray-b !important;
			}
		}

		// Box
		.box {
			width: 6rem;
			height: 6rem;
			background-color: $gray-d;

			// Text
			.text {

				// If Number
				&.no {
					font-size: 22px;
					font-weight: 500;
				}
			}
		}
	}


	// Example Code Box
	.example-code-box {

		.content {
			margin: 0;
		}

		// Para
		.para {
			font-size: 1.1rem;
			margin-bottom: 0;
		}
	}

	// Example List
	.example-list {
		padding-left: 20px;

		// List Item
		li {
			margin-bottom: .5rem;
		}
	}
}