// ######################################## //
// ## SPECIFIC.SCSS ## //
// ######################################## //

// For Flex Items
.sp-flex-box-outer {

	// If Flex Wrap
	&.sp-fw {
		max-width: 37rem;
	}

	// If Justify Content
	&.sp-jc {
		width: 30rem;
	}
}

// For Cursors
.sp-cursor {
	max-width: 47.2rem;
}

// For Social Colors
.sp-social-colors {
	max-width: 47.2rem;

	// Box
	.box {
		padding: .6rem;
		color: $white;
	}
}