// ######################################## //
// ## VARIABLES.SCSS ## //
// ######################################## //

$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #AAAAAA;
$gray-b: #BBBBBB;
$gray-c: #CCCCCC;
$gray-d: #DDDDDD;
$gray-e: #EEEEEE;
$white: #FFFFFF;

$theme-primary: #298FFF;
$theme-primary-bg: #E2F0FF;