// ######################################## //
// ## VARIABLES.SCSS ## //
// ######################################## //

$black: #000000;
$white: #ffffff;

$theme-primary: #298FFF;
$theme-primary-bg: #E2F0FF;